.titleLogin{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: var(--text-color-text);
}

.containerForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerInput {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  max-width: 240px;
}

.containerInput label.labelForm {
  font-size: 8px;
  letter-spacing: 0.75px;;
  color: #03129b;
  font-weight: 400;
  position: relative;
  top: 1.0rem;
  margin: 0 0 0 7px;
  width: fit-content;
}

.containerInput input[type=text].email, input[type=text].userName {
  /* height: px; */
  padding: 12px 10px 4px 10px;
  font-size: 10px;
  border: 2px #818CF8 solid;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.631);
  /* cursor: pointer; */
}

.containerInput input[type=text].email:hover, input[type=text].userName:hover {
  outline: none;
  background: rgba(120, 249, 100, 0.631);
}

.containerInput input[type=text].email:focus, input[type=text].userName:focus {
  outline: none;
}

.forgettenPassword{
    font-size: 8px;
    color: rgba(0, 0, 255, 0.9);
    cursor: pointer;
    margin-top: 2px;
}

.button{
    width: 64px;
    height: 24px;
    color: var(--text-color-white);
    font-size: 10px;
    letter-spacing: 0.75px;
    border: 2px var( --border-color);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.65);;
    margin: 0 auto;
    margin-top: 20px;
}

.button:hover{
    background-color: var(--button-background-true-hover);
    border: 2px var( --border-color-black);
}

@media screen and (min-width: 768px) {
.containerInput{
    width: 320px;
}

.containerInput label.labelForm{
    font-size: 12px;
    top: 1.2rem;
}


.containerInput input[type=text].email, input[type=text].userName{
    height: 24px;
    font-size: 14px;
}

.userName, .email{
    font-size: 20px;
    margin-bottom: 14px;
}

.forgettenPassword{
    font-size: 14px;
}

.button{
    width: 120px;
    height: 36px;
    font-size: 16px;
    margin-top: 46px;
}

}

@media screen and (min-width: 1280px) {
.titleLogin{
    font-size: 24px;
}

/* .container{
    padding: 20px 16px;
    border-bottom: none;
    border-right: 2px solid var(--border-color);
} */
}