.containerFlowersPage{
    display: flex;
    flex-direction: column;
    height: 800px;
}

.containerTitle{
    min-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bg-color-fl-page);
    justify-content: center;
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
}



/* горизонтальний скрол в css */
/* + */
/* .containerTitle{
    min-width: 320px;
    display: flex;
    flex-direction: row;
    background-color: rgba(190, 190, 245, 0.6);
    list-style-type: none;
    gap: 12px;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    justify-content: left;
    overflow-y: auto;
    scroll-behavior: smooth;
    anchor-name: --containerTitle;
    scroll-snap-type: x mandatory;
} */

/* + */
/* .containerTitle::-webkit-scrollbar{
    display: none;
} */
/* + */
/* .containerTitle::scroll-button(left), .containerTitle::scroll-button(right){
    content: '\2190';
    border: none;
    background-color: green;
    font-size: 22px;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    position-anchor: --containerTitle;
    position-area: left center;
    translate: 100%;
} */
/* + */
/* .containerTitle::scroll-button(right){
    content: '\2192';
    position-area: right center;
    translate: -100%;
} */

/* + */
/* .containerTitle::scroll-button(left):disabled, .containerTitle::scroll-button(right):disabled{
    opacity: 0.5;
    cursor: auto;
} */


@media screen and (min-width: 768px) {

.containerFlowersPage{
    flex-direction: column;
}

.containerTitle{
gap: 16px;
padding-top: 16px
}
}

@media screen and (min-width: 1440px) {

.containerFlowersPage{
    flex-direction: row;
    height: 100%;
}

.containerTitle{
gap: 22px;
padding-top: 22px
}

.containerCartPaginations{
    display: flex;
    flex-direction: column;
    width: 100%;
}
}