.containerTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 320px;
    max-width: 728px;
    height: auto;
    color: #fff;
    background-color: #1b6f64;
    margin: 0 auto;
    padding-top: 8px;
    justify-content: center;
    gap: 8px;
    list-style-type: none;
}

img{
    width: 220px;
    height: 320px;
    margin: 0 auto;
}