.link{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 18px;
    color: #fff;
    padding: 8px;
  }
  
.containerAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    border-bottom: 2px solid #2276d6;
    padding: 16px 12px;
    margin: 0;
}

.link:hover{
  color: #fff;
  border: 1px solid #525151;
  border-radius: 16px;
  background-color: #6d9cd2;
  }

@media screen and (min-width: 768px){
  .containerAll{
    padding: 24px 12px;
  }

.link{
  font-size: 24px;
}
}

@media screen and (min-width: 1440px){

.containerAll{
    padding: 28px 12px;
  }

.link{
  font-size: 32px;
}
}