.link{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    /* padding: 0 4px 0 4px; */
  }
  
.containerAll{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: 2px solid #2276d6;
    padding: 8px 8px;
    margin: 0;
}

/* .link:hover{
  color: #fff;
  border: 1px solid #525151;
  border-radius: 12px;
  background-color: var(--border-color);
  } */

.userContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.userExit{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 10px;
    color: #fff;
}

@media screen and (min-width: 488px){
  .containerAll{
    padding: 16px 10px;
  }

.link, .userName{
  font-size: 18px;
}
}

@media screen and (min-width: 768px){
  .containerAll{
    padding: 20px 12px;
  }

.link, .userName{
  font-size: 24px;
}

.userExit{
  font-size: 16px;
}
}

@media screen and (min-width: 1440px){
.containerAll{
    padding: 24px 12px;
  }

.link, .userName{
  font-size: 32px;
}
}