ul{
    margin: 0;
    list-style-type: none;
}

.container{
    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 32px 0;
    background-color: var(--bg-color-fl-page);
    align-items: center;
}

.list{
    margin-bottom: 20px;
}

.link{
    font-style:  italic;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-title);
    padding: 0 10px 0 10px;
}
  
  .link:hover{
  color: var(--text-color-title);
  border: 1px solid #525151;
  border-radius: 14px;
  background-color: var(--bg-color-source-flower);
  }