.containerRegister{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 800px;
    background-color: var(--bg-color);
    padding-top: 46px;
    align-items: center;
        background: linear-gradient(
      rgba(79, 181, 237, 0.172),
      rgba(20, 45, 18, 0.751)
    ), url("/src/img/backgr_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.textInfo{
    color:rgba(0, 0, 255, 0.65);
    margin-top: 12px;
}

.textInfo:hover{
    color:var(--button-background-false-hover);
}


.login{
    width: 64px;
    height: 24px;
    color: var(--text-color-white);
    font-size: 10px;
    letter-spacing: 0.75px;
    border: 2px var( --border-color);
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.65);;
    margin-top: 12px;
    text-align: center;
    align-content: center;
}

.login:hover{
    color: var(--text-color-white);
    background-color: var(--button-background-true-hover);
    border: 2px var( --border-color-black);
}

@media screen and (min-width: 768px){
    .login{
        width: 120px;
        height: 36px;
        font-size: 16px;
        margin-top: 34px;
    }

    .textInfo{
        margin-top: 34px;
    }
}