.container{
    width: 100%;
    border: 3px solid #6d9cd2;
    border-radius: 8px;
    /* margin-top: 18px; */
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    /* align-content: flex-start; */
    padding: 4px;
    background-color: rgba(229, 235, 235, 0.6);;
}

.image{
    display: block;
    object-fit: cover;
}

.flower{
    font-family: "Bad Script", cursive;
    font-style: normal;
    /* font-weight: 200; */
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 4px;
    color: black;
}

.text{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 12px;
}

.textPrice{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #09981ccb;;
    font-size: 12px;  
}