.gallery{
    width: 100%;
    border: 3px solid #6d9cd2;
    border-radius: 8px;
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    background-color: rgba(229, 235, 235, 0.6);;
}

.image{
    display: block;
    object-fit: cover;
    width: 148px;
    height: 120px;
}

.flower{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 4px;
    color: black;
}

.text{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 12px;
}

.textPrice{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: #068617cf;;
    font-size: 12px;  
}

@media screen and (min-width: 768px) {
    .image{
    display: block;
    object-fit: cover;
    width: 200px;
    height: 160px;
}
    .flower{
        font-size: 24px;
    }

    .text, .textPrice{
    font-size: 16px;
    }

    .textPrice{
        font-weight: 700;
    }
}

@media screen and (min-width: 1440px) {
    .flower{
        font-size: 28px;
    }

    .text, .textPrice{
    font-size: 18px;
    }

    .textPrice{
        font-weight: 800;
    }
}