.gallery{
    display: flex;
    /* width: 100%; */
    border: 2px solid #6d9cd2;
    border-radius: 8px;
    /* + */
    /* scroll-snap-align: start; */
}

.list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
    background-color: rgba(229, 235, 235, 0.6);
}

.image{
    display: block;
    object-fit: cover;
    width: 134px;
    margin: 0 auto;
    border: 1px solid #6d9cd2;
    border-radius: 8px;
}

.flower{
    font-family: "Bad Script", cursive;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 4px;
    color: black;
}

.containerText{
    display: flex;
    justify-content: space-between;
}

.text{
    color: black;
    font-size: 14px;
}

.textPrice{
    font-weight: 700;
    color: #068617cf;;
    font-size: 16px;  
}

.textAvailability{
    font-weight: 700;
    color: #068617cf;;
    font-size: 14px;  
}

.textAvailabilityNot{
    font-weight: 500;
    color: red;;
    font-size: 14px;  
}

@media screen and (min-width: 768px) {
    .image{
    display: block;
    object-fit: cover;
    width: 200px;
    height: 160px;
}
    .flower{
    font-size: 24px;
    }

    .text, .textPrice, .textAvailability, .textAvailabilityNot{
    font-size: 16px;
    }

    .textPrice, .textAvailability, .textAvailabilityNot{
    font-weight: 700;
    }
}

@media screen and (min-width: 1440px) {
    .flower{
    font-size: 28px;
    }

    .text, .textPrice, .textAvailability, .textAvailabilityNot{
    font-size: 18px;
    }

    .textPrice, .textAvailability, .textAvailabilityNot{
    font-weight: 700;
    }
}