.titleRegister{
    font-size: 18px;
    color:var(--text-color-text-transperent)
}


.containerForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.labelName, .labelEmail, .labelPassword{
    font-size: 12px;
    color: var(--text-color-text-transperent);
    margin-left: 10px;
}

.userName, .email, .userPassword{
    font-size: 18px;
    font-weight: 400;
    padding: 4px 12px;
    margin-bottom: 8px;
    border: 2px solid var(--border-color-black);
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.1);;
    outline: none;
}

.userName:hover, .email:hover, .userPassword:hover{
    background-color: rgba(0, 0, 255, 0.3);
}

.userName:focus, .email:focus{
    background-color: white;
}

.button{
    width: 80px;
    height: 32px;
    font-size: 14px;
    padding: 4px;
    border: 2px solid var(--border-color-black);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.1);
    margin: 0 auto;
    margin-top: 20px;
}

.button:hover{
    background-color: rgba(0, 0, 255, 0.3);
}


@media screen and (min-width: 768px) {
.containerAll{
    width: 280px;
}

.labelEmail, .labelPassword{
    font-size: 14px;
}

.userName, .email{
    font-size: 20px;
    margin-bottom: 14px;
}

.forgottenPassword{
    font-size: 14px;
}

.button{
    width: 120px;
    height: 36px;
    font-size: 16px;
    margin-top: 46px;
}

}

@media screen and (min-width: 1440px) {

.container{
    padding: 20px 16px;
    border-bottom: none;
    border-right: 2px solid var(--border-color);
}
}