.numberListPage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bad Script", cursive;
    /* font-weight: 700; */
    font-size: 18px;
    /* color: #111; */
    color: #fff;
    height: 30px;
    width: 30px;
    border: 3px solid #6d9cd2;
    border-radius: 50%;
    /* background-color: rgba(229, 235, 235, 0.6); */
    background-color: #09981ccb;
    /* opacity: 0.5; */
    margin: 0 10px;
}

@media screen and (min-width: 768px) {
.numberListPage{
    height: 40px;
    width: 40px;
    font-size: 24px;
}
}

@media screen and (min-width: 1440px) {
.numberListPage{
    height: 50px;
    width: 50px;
    font-size: 32px;
    margin: 0 20px;
}
}