h1, p{
    margin: 0;
}

.containerTitle{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    height: 600px;
    background-color: rgba(229, 235, 235, 0.6);;
    padding-top: 46px;
    align-items: center;
}

.title{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 22px;
}

.textContoiner{
    margin: 0 auto;
}

.textRegion{
    min-width: 320px;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 4px;
}

.textCity{
    min-width: 320px;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    text-align: left;
    margin-bottom: 4px;
}

.textStreet{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin-bottom: 4px;
}

.icons{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.textTel{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 4px;
}

.phoneTel{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/tel.png");
    margin-right: 4px;
}

.phoneTelegram{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("../../img/telegram.png");
     margin-right: 4px;
}

.phoneViber{
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: url("../../img/viber.png");
}

.textNp{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin-bottom: 4px;
}

@media screen and (min-width: 768px){
    .title{
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 38px;
}

.textRegion, .textCity, .textStreet, .textTel, .textNp{
    font-size: 28px;
    margin-bottom: 12px;
}
.phoneTel, .phoneTelegram, .phoneViber{
    width: 38px;
    height: 38px;
}
}

@media screen and (min-width: 1440px){
.containerTitle{
    max-width:1440px;
}
.title{
    font-weight: 600;
    font-size: 46px;
}

.textRegion, .textCity, .textStreet, .textTel, .textNp{
    font-size: 32px;
    margin-bottom: 32px;
}
}