h1, p{
    margin: 0;
}


.containerTitle{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 768px;
    height: 480px;
    background-color: rgba(190, 190, 245, 0.4);
    padding-top: 60px;
    margin: 0 auto;
}

.title{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 1px;
    color: black;
    margin: 0 auto;
    margin-bottom: 22px;
}

.textContoiner{
    margin: 0 auto;
}

.textRegion{
    min-width: 320px;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 4px;
}

.textCity{
    min-width: 320px;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 4px;
}

.textStreet{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 4px;
}

.textTel{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 4px;
}

.textNp{
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: black;
    min-width: 320px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 4px;
}

@media screen and (min-width: 768px){
 
    .title{
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 38px;
}

.textRegion, .textCity, .textStreet, .textTel, .textNp{
    font-size: 28px;
    margin-bottom: 12px;
}
}

@media screen and (min-width: 1440px){
 
    .title{
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 46px;
}

.textRegion, .textCity, .textStreet, .textTel, .textNp{
    font-size: 32px;
    margin-bottom: 12px;
}
}