h1, p{
    margin: 0;
}


.containerTitle{
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 768px;
    height: 480px;
    color: #fff;
    background-color: #1b6f64;
    padding-top: 104px;
    margin: 0 auto;
}

.title{
    font-family: "Bad Script", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 1px;
    color: #fff;
    min-width: 320px;
    text-align: left;
    margin-left: 32px;
}

.text{
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    min-width: 320px;
    text-align: left;
    margin-left: 32px;
    /* text-decoration: line-through; */
    /* border: 2px solid #fff; */
}

.textCity{
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    min-width: 320px;
    text-align: left;
    margin-left: 32px;
    margin-top: 24px;
}

y.textNext{
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff;
    min-width: 320px;
    text-align: left;
    margin-left: 32px;
    margin-top: 24px;
}