/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  height: 100%;
} */
 :root{
  font-family: "Roboto", sans-serif;
  font-style: normal;

  --bg-color: rgba(229, 235, 235, 0.6);
  --bg-color-fl-page: rgba(190, 190, 245, 0.6);
  --bg-color-card: rgba(229, 235, 235, 0.6);
  --bg-color-layout: #09981ccb;
  --bg-color-source-flower: #66d675;
  --bg-color-white: rgba(255, 255, 255, 0.8);
  --text-color-title: black;
  --text-color-text: black;
  --text-color-text-transperent: rgba(0, 0, 0, 0.8);
  --text-color-title-flower: black;
  --text-color-text-flower: black;
  --text-price-true:#068617cf;
  --text-price-false: red;
  --border-color:#6d9cd2;
  --border-color-black: rgba(0, 0, 0, 0.3);
  
}

html{
  box-sizing: border-box;
  /* height: 100%; */
  font-size: 14px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-size: 3.2em;
  line-height: 1.1;
    margin: 0;
}

p{
  margin: 0;
}

